body {
    position: relative;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

article {
    max-width: 350px;
    width: 100%;
    margin: 16px;
    padding: 16px;
    background-color: #eeeeee;
    border-radius: 3px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
    animation: appearance 1s ease;
}

.btn {
    padding: 18px 36px;
    background-color: cornflowerblue;
    font-size: 16px;
    line-height: 16px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color .3s ease, color .3s ease;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.25)
}

.btn:hover {
    background-color: blue;
}

.btn-wrap {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes appearance {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.sidebar {
    position: fixed;
    left: 0;
    top: 18vh;
    padding: 50px 50px 50px 30px;
    background: orange;
    z-index: 20;
    width: 100%;
    max-width: 250px;
    border-radius: 0 3px 3px 0;
    transform: translateX(-290px);
    max-height: 30px;
    transition: transform .3s ease, max-height 1s ease;
    overflow: hidden;
}

.sidebar:hover {
    transform: translateX(0);
    max-height: 1000px;
}

.sidebar__form {
    display: flex;
    flex-direction: column;
}

.sidebar__form label{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    color: white;
}

.sidebar__form label:last-child{
    margin-bottom: 0;
}

.sidebar__form input, textarea {
    padding: 8px 10px;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

.sidebar__form textarea {
    height: 100px;
}

.form-btn {
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: dimgray;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hidden {
    display: none;
}

.user-post {
    animation: background 5s ease;
}

@keyframes background {
    0%   { background-color: antiquewhite; }
    95% { background-color: antiquewhite; }
    100% { background-color: #eeeeee; }
}

.hover-txt {
    position: absolute;
    top: 13px;
    right: 2px;
    font-size: 10px;
    width: 35px;
    word-break: break-word;
    text-transform: uppercase;
    color: white;
    transition: opacity 1s ease;
    animation: flicker 5s infinite;
}

@-webkit-keyframes flicker {
    0%   { opacity: .5; }
    50% { opacity: 1; }
    100% { opacity: .5; }
}

aside:hover .hover-txt {
    opacity: 0;
    animation: none;
}

.sidebar__title {
    color: white;
    margin-top: 0;
}